<div class="w3-top w3-blue">
  <div class="container">
    <div class="w3-bar">
      <a href="/" id="brand-name" class="w3-bar-item">Voting App</a>
      <% if(!isAuthenticated) { %>
        <a href="/signup" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Sign Up</a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Log In</a>
      <% } else { %>
        <a href="/new_poll" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-gray">New Poll</a>
        <a href="/my_polls" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-gray">My Polls</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Log Out</a>
        <span id="greeting" class="w3-bar-item w3-right">Hello, <%= user.name %></span>
      <% } %>
    </div>
  </div>
</div>



       