<!DOCTYPE html>
<html>
  <head>

    <% include partials/head %>

  </head>
  <body>
    
    <% include partials/header %>
    
    <div class="container">
      <div class="create_vote_container">
        <h2 class="w3-text-blue">Poll is successfully created!</h2>
        <p>Your poll has been posted to:</p>
        <a href="<%= new_url %>" style="color:purple; text-decoration: underline;"><%= new_url %></a>
      </div>
    </div>
    
    <% include partials/footer %>
    
  </body>
</html>