<!DOCTYPE html>
<html>
  <head>

    <% include partials/head %>

  </head>
  <body>
    
    <% include partials/header %>
      
    <div class="container">
      <form class="w3-container" action="/login" method="post">
        <div class='user_message'></div>
        <p>      
        <label class="w3-text-blue"><b>Username</b></label>
        <input class="w3-input w3-border w3-white" type="text" name="username" placeholder="Username" <% if(locals.username) { %>value=<%= username %> <% } %> ></p>
        <p>      
        <label class="w3-text-blue"><b>Password</b></label>
        <input class="w3-input w3-border w3-white" type="password" name="password" placeholder="Password" <% if(locals.password) { %>value=<%= password %> <% } %> >
        <p>
        <button class="w3-btn w3-blue">Sign Up</button></p>
      </form>
    </div>
    
    <% include partials/footer %>
    
    <script src="/javascripts/signup_client.js"></script>
  </body>
</html>


