.w3-top, .w3-bottom {
  left: 0;
  right: 0;
}

rect {
  fill: transparent !important;
}



/******************************************************************************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/pics/vote2.jpg);
  background-size: cover; 
}

a {
  /*color: #00B7FF;*/
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.create_vote_container {
  max-width: 480px;
  margin: 0 auto;
}

#brand-name{
  font-size: 20px;
  padding: 12px 24px 13px 0px;
  text-decoration: none;
  color: white;
}

#greeting {
  font-size: 16px;
  padding: 15px 24px 15px 0px;
}

input, .list-poll-item {
  margin: 1px 0px;
}

.list-poll-item {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

.new_poll_btns button {
  width: 150px;
}

#piechart {
  margin: 0 auto;
}